.contact-bg {
    position: relative; /* Ensure proper positioning for the overlay */
    height: 50vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the background covers the entire element */
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-item i {
    font-size: 3rem;
    color: #0E72B4; /* Example color */
    margin-bottom: 10px;
}

/* Add overlay */
.contact-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.103); /* Adjust the opacity as needed */
    z-index: 1; /* Ensure the overlay is behind the content */
}

/* Rest of your existing CSS */
.contact-bg h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.contact-bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.line div {
    margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
    height: 3px;
    width: 70px;
    background: #0e72b4;
    border-radius: 5px;
}

.line {
    display: flex;
    align-items: center;
}

.line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: #0e72b4;
    border-radius: 50%;
}

.text {
    font-weight: 300;
    opacity: 0.9;
}

@media screen and (min-width: 768px) {
    .contact-bg .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .contact-bg .text {
        width: 50%;
    }

    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .contact-info {
        grid-template-columns: repeat(4, 1fr);
    }
}

.contact .info-boxs {
    color: #444;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 10px 30px 10px;
    margin-bottom: 30px;
    width: 100%;
}

.contact .info-boxs i {
    font-size: 20px;
    color: #428bca;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #9eccf4;
}

.contact .info-boxs h3 {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-boxs p {
    padding: 0px 20px;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.img-service {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.img-serviceai {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.img-services {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/* management */

.container-manage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.card_manage {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(
        50% - 20px
    ); /* Adjust width to fit two boxes in one line with margin */
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.card_manage img {
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.card_manage h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

.card_manage h4 {
    font-size: 18px;
    color: #777;
    margin-bottom: 15px;
}

.card_manage p {
    font-size: 14px;
    color: #555;
    text-align: justify;
    margin-top: 10px;
}

.card_manage .read-more {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_manage .read-more a {
    text-decoration: none;
    color: #ffffff;
    background-color: #0E72B4; /* Change background color to #76ABD8 */
    padding: 10px 19px;
    border-radius: 4px;
    margin-right: 10px;
}

.card_manage .read-more a:last-child {
    margin-right: 0;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .card_manage .read-more {
        justify-content: center;
    }
}

.card_manage .social-icons {
    margin-top: 0px; /* Adjust margin for spacing */
    display: flex;
    justify-content: center;
}

.card_manage .social-icons a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 5px; /* Adjust margin for spacing */
    font-size: 16px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .card_manage .social-icons {
        justify-content: center;
    }
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .card_manage {
        width: 100%; /* Full width on smaller screens */
    }
}

/* navbar request demo button */

.navbar .btn-primary.text-whites {
    padding: 8px 20px;
    border-radius: 0px;
    background-color: #0E72B4; /* Change this to match your site's color scheme */
    color: #fff;
    margin-left: 40px;
}

.navbar .btn-primary.text-whites:hover {
    background-color: #0D4472; /* Darker shade for hover effect */
    color: #fff;
}
.text-whites {
    --bs-text-opacity: 1;
    color: rgb(255 255 255) !important;
}

/* Responsive adjustments */
@media (max-width: 991.98px) {
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        width: 120%;
    }
    .navbar ul li {
        width: 35%;
        text-align: left;
        padding: 10px 0;
    }
    .navbar ul li a {
        width: 100%;
    }
    .navbar .btn.nav-link.btn-primary.text-white {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .mobile-nav-toggle {
        display: block;
    }
}

@media (min-width: 992px) {
    .mobile-nav-toggle {
        display: none;
    }
}

/* jobs page */

.shadow {
    box-shadow: 0 0 3px rgb(53 64 78 / 20%) !important;
}

.rounded {
    border-radius: 5px !important;
}

.bg-light {
    background-color: #f7f8fa !important;
}

.badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
}

a {
    text-decoration: none;
}

/* blog page */

/* footer */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.certification p {
    margin: 10px 0;
}

h5 {
    /* border-bottom: 2px solid white; */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* ul {
    list-style: none;
    padding: 0;
} */


ul li {
    margin: 15px 0;
}

a.text-white {
    text-decoration: none;
}

a.text-white:hover {
    text-decoration: underline;
}

/* .btn-outline-light {
    border-color: #fff;
    color: #fff;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #4A4A4A;
} */

/* .img-fluid {
    max-width: 40%;
    height: auto;
} */
.copyright {
    text-align: center;
    padding: 20px;
}

.col-md-6.d-flex {
    display: flex;
    align-items: center; /* Vertically center items */
}

.col-md-6.d-flex > div {
    margin-left: 10px; /* Adjust margin as needed */
}

.col-md-3 ul li a::before {
    position: relative;
    content: "\f105";
    font-family: "font awesome 5 free";
    font-weight: 900;
    margin-right: 10px;
    color: #9b9b9b;
}

/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/

.team {
    background: #fff;
    padding: 60px 0 70px 0;
}

.team .member {
    position: relative;
}

.team .member .member-img {
    width: 200px;
    height: 200px;
    margin: 0 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 4px solid var(--background-color);
    box-shadow: 0 15px 35px -10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .team .member .member-img {
        margin: 0 60px;
    }
}

.team .member .member-img img {
    position: relative;
    z-index: 1;
}

.team .member .member-img .social {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-bottom: 20px;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.team .member .member-img .social a {
    transition: 0.3s;
    color: var(--contrast-color);
    font-size: 20px;
    margin: 0 8px;
}

.team .member .member-img .social a:hover {
    color: var(--accent-color);
}

.team .member .member-info {
    margin-top: 30px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 18px;
}

.team .member .member-info span {
    font-style: italic;
    display: block;
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin-bottom: 10px;
}

.team .member .member-info p {
    margin-bottom: 0;
    font-size: 14px;
}

.team .member:hover .member-img .social {
    padding-bottom: 0;
    visibility: visible;
    opacity: 1;
}



.custom-primary-btn {
    background-color: #1C5C93 !important;
    color: #fff !important;
    border: none;
    padding: 10px 25px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    border-radius: 5px;
    transition: 0.3s;
}

.custom-primary-btn:hover {
    background-color: #154872 !important;
}



/*--------------------------------------------------------------
# Blog Posts Section
--------------------------------------------------------------*/
.blog-posts article {
    background-color: var(--surface-color);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    height: 100%;
}

.blog-posts .post-img {
    max-height: 440px;
    margin: -30px -30px 0 -30px;
    overflow: hidden;
}

.blog-posts .title {
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    margin: 30px 0;
}

.blog-posts .title a {
    color: #333333;
    transition: 0.3s;
}

.blog-posts .title a:hover {
    color: #0E72B4;
}

.blog-posts .meta-top {
    margin-top: 20px;
    color: color-mix(in srgb, #333333, transparent 40%);
}

.blog-posts .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.blog-posts .meta-top ul li + li {
    padding-left: 20px;
}

.blog-posts .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: color-mix(in srgb, #333333, transparent 20%);
}

.blog-posts .meta-top a {
    color: color-mix(in srgb, #333333, transparent 40%);
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

.blog-posts .content {
    margin-top: 20px;
}

.blog-posts .content .read-more {
    text-align: right;
}

.blog-posts .content .read-more a {
    background: #0E72B4;
    color: #ffffff;
    display: inline-block;
    padding: 8px 30px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
}

.blog-posts .content .read-more a:hover {
    background: #0D4472;
}

/*--------------------------------------------------------------
# Blog Pagination Section
--------------------------------------------------------------*/
.blog-pagination {
    padding-top: 0;
    color: color-mix(in srgb, #333333, transparent 40%);
}

.blog-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.blog-pagination li {
    margin: 0 5px;
    transition: 0.3s;
}

.blog-pagination li a {
    color: color-mix(in srgb, #333333, transparent 40%);
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-pagination li a.active,
.blog-pagination li a:hover {
    background:#0E72B4;
    color: #ffffff;
}

.blog-pagination li a.active a,
.blog-pagination li a:hover a {
    color: #0E72B4;
}

/*--------------------------------------------------------------
# Blog Details Section
--------------------------------------------------------------*/
.blog-details {
    padding-bottom: 30px;
}

.blog-details .article {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog-details .post-img {
    margin: -30px -30px 20px -30px;
    overflow: hidden;
}

.blog-details .title {
    color: var(--heading-color);
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    margin: 30px 0;
}

.blog-details .content {
    margin-top: 20px;
}

.blog-details .content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}

.blog-details .content blockquote {
    overflow: hidden;
    background-color: color-mix(in srgb, #333333, transparent 95%);
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.blog-details .content blockquote p {
    color: #333333;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.blog-details .content blockquote:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--accent-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-details .meta-top {
    margin-top: 20px;
    color: color-mix(in srgb, #333333, transparent 40%);
}

.blog-details .meta-top ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.blog-details .meta-top ul li + li {
    padding-left: 20px;
}

.blog-details .meta-top i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: color-mix(in srgb, #333333, transparent 40%);
}

.blog-details .meta-top a {
    color: color-mix(in srgb, #333333, transparent 40%);
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

.blog-details .meta-bottom {
    padding-top: 10px;
    border-top: 1px solid color-mix(in srgb, #333333, transparent 90%);
}

.blog-details .meta-bottom i {
    color: color-mix(in srgb, #333333, transparent 40%);
    display: inline;
}

.blog-details .meta-bottom a {
    color: color-mix(in srgb, #333333, transparent 40%);
    transition: 0.3s;
}

.blog-details .meta-bottom a:hover {
    color: var(--accent-color);
}

.blog-details .meta-bottom .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.blog-details .meta-bottom .cats li {
    display: inline-block;
}

.blog-details .meta-bottom .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.blog-details .meta-bottom .tags li {
    display: inline-block;
}

.blog-details .meta-bottom .tags li + li::before {
    padding-right: 6px;
    color: #333333;
    content: ",";
}

.blog-details .meta-bottom .share {
    font-size: 16px;
}

.blog-details .meta-bottom .share i {
    padding-left: 5px;
}


/*--------------------------------------------------------------
# Blog Author Section
--------------------------------------------------------------*/
.blog-author {
    padding: 10px 0 40px 0;
}

.blog-author .author-container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog-author img {
    max-width: 120px;
    margin-right: 20px;
}

.blog-author h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 0;
    color: color-mix(in srgb, #333333, transparent 20%);
}

.blog-author .social-links {
    margin: 0 10px 10px 0;
}

.blog-author .social-links a {
    color: color-mix(in srgb, #333333, transparent 60%);
    margin-right: 5px;
}

.blog-author p {
    font-style: italic;
    color: color-mix(in srgb, #333333, transparent 30%);
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Blog Comments Section
--------------------------------------------------------------*/
.blog-comments {
    padding: 10px 0;
}

.blog-comments .comments-count {
    font-weight: bold;
}

.blog-comments .comment {
    margin-top: 30px;
    position: relative;
}

.blog-comments .comment .comment-img {
    margin-right: 14px;
}

.blog-comments .comment .comment-img img {
    width: 60px;
}

.blog-comments .comment h5 {
    font-size: 16px;
    margin-bottom: 2px;
}

.blog-comments .comment h5 a {
    font-weight: bold;
    color: var(--default-color);
    transition: 0.3s;
}

.blog-comments .comment h5 a:hover {
    color: var(--accent-color);
}

.blog-comments .comment h5 .reply {
    padding-left: 10px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.blog-comments .comment h5 .reply i {
    font-size: 20px;
}

.blog-comments .comment time {
    display: block;
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    margin-bottom: 5px;
}

.blog-comments .comment.comment-reply {
    padding-left: 40px;
}

/*--------------------------------------------------------------
# Comment Form Section
--------------------------------------------------------------*/
.comment-form {
    padding-top: 10px;
}

.comment-form form {
    background-color: #ffffff;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.comment-form form h4 {
    font-weight: bold;
    font-size: 22px;
}

.comment-form form p {
    font-size: 14px;
}

.comment-form form input {
    background-color: #f8f8f8;
    color: #333333;
    border: 1px solid color-mix(in srgb, #333333, transparent 70%);
    font-size: 14px;
    border-radius: 4px;
    padding: 10px 10px;
}

.comment-form form input:focus {
    color: #333333;
    background-color: #f8f8f8;
    box-shadow: none;
    border-color: #0D4472;
}

.comment-form form input::placeholder {
    color: color-mix(in srgb, #333333, transparent 50%);
}

.comment-form form textarea {
    background-color: #f8f8f8;
    color: #333333;
    border: 1px solid color-mix(in srgb, #333333, transparent 70%);
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
    height: 120px;
}

.comment-form form textarea:focus {
    color: #333333;
    box-shadow: none;
    border-color: #0D4472;
    background-color: #f8f8f8;
}

.comment-form form textarea::placeholder {
    color: color-mix(in srgb, #333333, transparent 50%);
}

.comment-form form .form-group {
    margin-bottom: 25px;
}

.comment-form form .btn-primary {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: #0D4472;
    color: #ffffff;
}

.comment-form form .btn-primary:hover {
    color: #ffffff;
    background-color: color-mix(in srgb, #0D4472, transparent 20%);
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widgets-container {
    background-color: #FFFFFF;
    padding: 30px;
    margin: 60px 0 30px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.widget-title {
    color: #111111;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 20px 0;
}

.widget-item {
    margin-bottom: 40px;
}

.widget-item:last-child {
    margin-bottom: 0;
}

.search-widget form {
    background: #ffffff;
    border: 1px solid color-mix(in srgb, #333333, transparent 70%);
    padding: 3px 10px;
    position: relative;
    transition: 0.3s;
}

.search-widget form input[type="text"] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
    background-color: #ffffff;
    color: #333333;
}

.search-widget form input[type="text"]:focus {
    outline: none;
}

.search-widget form button {
    background: #0D4472;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
}

.search-widget form button i {
    line-height: 0;
}

.search-widget form button:hover {
    background: color-mix(in srgb, #0D4472, transparent 20%);
}

.search-widget form:is(:focus-within) {
    border-color: #0D4472;
}


.categories-widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories-widget ul li {
    padding-bottom: 10px;
}

.categories-widget ul li:last-child {
    padding-bottom: 0;
}

.categories-widget ul a {
    color: color-mix(in srgb, #333333, transparent 20%);
    transition: 0.3s;
}

.categories-widget ul a:hover {
    color: #0E72B4;
}

.categories-widget ul a span {
    padding-left: 5px;
    color: color-mix(in srgb, #333333, transparent 50%);
    font-size: 14px;
}


.recent-posts-widget .post-item {
    display: flex;
    margin-bottom: 15px;
}

.recent-posts-widget .post-item:last-child {
    margin-bottom: 0;
}

.recent-posts-widget .post-item img {
    width: 80px;
    margin-right: 15px;
}

.recent-posts-widget .post-item h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.recent-posts-widget .post-item h4 a {
    color: #333333;
    transition: 0.3s;
}

.recent-posts-widget .post-item h4 a:hover {
    color: #0E72B4;
}

.recent-posts-widget .post-item time {
    display: block;
    font-style: italic;
    font-size: 14px;
    color: color-mix(in srgb, #333333, transparent 50%);
}


.tags-widget {
    margin-bottom: -10px;
}

.tags-widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags-widget ul li {
    display: inline-block;
}

.tags-widget ul a {
    color: color-mix(in srgb, #333333, transparent 30%);
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid color-mix(in srgb, #333333, transparent 60%);
    display: inline-block;
    transition: 0.3s;
}

.tags-widget ul a:hover {
    background: #0E72B4;
    color: #ffffff;
    border: 1px solid #0E72B4;
}

.tags-widget ul a span {
    padding-left: 5px;
    color: color-mix(in srgb, #333333, transparent 60%);
    font-size: 14px;
}

